@charset "utf-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video{
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  list-style:none;
  background:transparent;
  border:0;
  outline:0;
}
body{
  line-height:1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{
  display:block;
}
nav ul{
  list-style:none;
}
blockquote,
q{
  quotes:none;
}
blockquote:before,
blockquote:after,
q:before,
q:after{
  content:"";
  content:none;
}
a{
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
ins{
  color:#000;
  text-decoration:none;
  background-color:#ff9;
}
mark{
  color:#000;
  font-weight:bold;
  font-style:italic;
  background-color:#ff9;
}
del{
  text-decoration:line-through;
}
abbr[title],
dfn[title]{
  border-bottom:1px dotted;
  cursor:help;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
hr{
  display:block;
  height:1px;
  margin:1em 0;
  padding:0;
  border:0;
  border-top:1px solid #cccccc;
}
input,
select{
  vertical-align:middle;
}
html{
  font-size:10px;
}
body{
  font-family:"Roboto", sans-serif;
  font-style:italic;
}
a{
  opacity:1;
  -webkit-transition:opacity 0.3s;
  -o-transition:opacity 0.3s;
  transition:opacity 0.3s
}
a:hover{
    opacity:0.8;
  }
img{
  display:block;
  max-width:100%;
}
.mv{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  height:956px;
  background:url("/assets/images/mv_bg.png") top center no-repeat;
  background-size:cover;
  -webkit-transition:height 0.3s;
  -o-transition:height 0.3s;
  transition:height 0.3s
}
.mv__title{
  padding-bottom:3.2rem;
  color:#fff;
  font-weight:900;
  font-size:8rem;
  line-height:9.4rem;
  -webkit-transition:font-size 0.3s;
  -o-transition:font-size 0.3s;
  transition:font-size 0.3s
}
.mv__title p{
    font-weight:700;
    font-size:2.4rem;
    line-height:4.2rem;
  }
.mv__subtitle{
  padding-bottom:4.8rem;
  color:#fff;
  font-weight:700;
  font-size:2.4rem;
  line-height:3.6rem
}
.mv__sns__list{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin:-8px;
}
.mv__sns__item{
  width:60px;
  height:60px;
  padding:8px;
}
section:nth-child(2n){
    color:#fff;
    background:#000;
  }
.contents__wrap{
  max-width:1200px;
  margin:0 auto;
  padding:6.4rem 2vw 5.6rem;
  text-align:center
}
.section__title{
  font-weight:500;
  font-size:6.4rem
}
.section__slogn{
  padding-top:2.4rem;
  font-size:2rem;
  line-height:3rem
}
.about__img{
  margin:0 auto;
  padding-top:4rem;
}
.about__txt{
  max-width:412px;
  margin:0 auto;
  padding-top:2.4rem;
}
.about__info{
  padding-bottom:2.4rem;
  text-align:center
}
.about__info li{
    font-weight:700;
    font-size:2.4rem;
    line-height:4.2rem
  }
.about__position{
  position:relative;
  padding-top:3.2rem;
  font-weight:700;
  font-size:2.4rem;
  line-height:4.2rem;
  border-top:1px solid #000
}
.about__position li{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center
  }
.about__position li::before{
      width:22px;
      height:22px;
      margin-right:1.6rem;
      background:#891818;
      border-radius:999rem;
      content:"";
    }
.brand__txt{
  padding-top:1.6rem;
  padding-bottom:0.8rem;
  font-size:2.4rem;
  line-height:4.2rem;
}
.brand__img__wrap{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:wrap;
      -ms-flex-flow:wrap;
          flex-flow:wrap;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
  padding-top:6.8rem;
  padding-bottom:10.4rem
}
.brand__img__wrap li{
    padding-bottom:4rem
  }
.brand__img__wrap li:first-child{
      margin:0 auto;
    }
.brand__img__wrap li:nth-child(n + 2){
      width:calc((100% / 2) - 12px);
      padding-bottom:0;
    }
.work__img__wrap{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
      -ms-flex-wrap:wrap;
          flex-wrap:wrap;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
  padding-top:5.6rem
}
.work__img__wrap li{
    padding-bottom:5.6rem
  }
.work__img__wrap li:nth-child(-n + 3){
      width:calc((100% / 3) - 12px);
    }
.work__img__wrap li:nth-child(n + 4){
      width:calc((100% / 2) - 12px);
    }
.work__img__wrap li:nth-child(n + 6){
      width:calc((100% / 3) - 12px);
    }
.work__img__wrap img{
    width:100%;
  }
.work__img__wrap p{
    padding-top:1.6rem;
    font-weight:500;
    font-size:2rem;
    line-height:4.2rem
  }
footer{
  padding-bottom:2.4rem;
  color:#fff;
  background:#000;
}
.footer__txt{
  font-size:2.4rem;
  line-height:3.6rem
}
.footer__txt li{
    padding-top:1.6rem
  }
.footer__txt li a{
      color:#fff;
      text-decoration:none;
    }
@media only screen and (min-width: 0px) and (max-width: 767px){
.mv{
    height:600px
}
.mv__title{
    font-size:7rem
}
.mv__subtitle{
    font-size:2rem
}
.contents__wrap{
    padding-top:4.2rem;
    padding-bottom:3rem
}
.section__title{
    font-size:4.4rem
}
.section__slogn{
    font-size:1.8rem
}
.about__info li{
      font-size:2rem
  }
.about__position{
    font-size:1.8rem
}
.brand__img__wrap{
    padding-bottom:0
}
.work__img__wrap{
    padding-top:3rem
}
.work__img__wrap li{
      padding-bottom:1.6rem
  }
.work__img__wrap p{
      font-size:1.6rem;
      line-height:1.5
  }
  }
